flake8==4.0.1
Flask==1.1.4
Flask-Admin==1.5.8
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Jinja2==2.11.3
packaging==21.3
platformdirs==2.4.1
protobuf==3.19.1
psutil==5.8.0
psycopg2==2.9.3
PyAutoGUI==0.9.53
pycaw==20181226
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyMsgBox==1.0.9
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
python-dateutil==2.8.2
PyYAML==6.0
pyzbar==0.1.8
SQLAlchemy==1.4.27
Werkzeug==1.0.1
whichcraft==0.6.1
wkhtmltopdf==0.2
WMI==1.5.1
wrapt==1.13.3
WTForms==3.0.1
