<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>
        {% block title %}  {% endblock %}
    </title>

    <!-- login style  -->
<!--===============================================================================================-->	
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'login/css/mains.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/finish.css')}}">



        <!-- register file  -->
    <link href="{{url_for('static', filename = 'signup/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">
    <link href="{{url_for('static', filename = 'signup/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{url_for('static', filename = 'signup/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{url_for('static', filename = 'signup/vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="{{url_for('static', filename = 'signup/css/mainss.css')}}" rel="stylesheet" media="all">


    <link href="{{url_for('static', filename = 'cart/the_cartss.css')}}" rel="stylesheet" media="all">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- # {{url_for('static', filename = '')}} -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/the_style.css')}}">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'assets/css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'assets/css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/template-zs.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/owl-carousel.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/lightbox.css')}}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img class="logo-image" style="width: 100px;" src="{{url_for('static', filename = 'assets/images/logo-main.png')}}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/products">products</a></li>
                            <li class="submenu">
                                <a href="#">category</a>
                                <ul>
                                    <li><a href="/products/console">console</a></li>
                                    <li><a href="/products/phone">phone</a></li>
                                    <li><a href="/products/pc">pc</a></li>
                                    <li><a href="/products/accessory">accessory</a></li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                {% if user.is_Admin == true%}
                                <li class="submenu">
                                    <a href="#" style="color: red;">Admin</a>
                                    <ul>
                                        <li><a href="/admin">admin page</a></li>
                                        <li><a href="/add/admin">add product</a></li>
                                        <li><a href="/view/admin">manage order</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            <li class="scroll-to-section"><a href="/logout">Logout</a></li>
                            <li class="scroll-to-section"><a href="/carts"><i class="fas fa-shopping-cart"></i></a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/login">Login</a></li>
                            <li class="scroll-to-section"><a href="/sign-up">sign up</a></li>
                            {% endif %}

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" style="margin-top: 100px;" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" style="margin-top: 100px;" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


    {% block content %}




    {% endblock %}




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="first-item">
                        <div class="logo">
                            <img style="width: 100px;" class="logo-image" src="{{url_for('static', filename = 'assets/images/logo-main.png')}}" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">UAE, Alain , Near alwadi park</a></li>
                            <li><a href="#">zaidwawi53@gmail.com</a></li>
                            <li><a href="#">0561150239</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="logo">
                        <img style="width: 100px;" class="logo-image" src="{{url_for('static', filename = 'assets/images/logo-main.png')}}" alt="hexashop ecommerce templatemo">
                    </div>
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Gaming</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 ZH  All Rights Reserved. 
                        
                        <br>Design By Zaid Alwawi</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{{url_for('static', filename = 'assets/js/jquery-2.1.0.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{url_for('static', filename = 'assets/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/bootstrap.min.js')}}"></script>
    <!-- Plugins -->
    <script src="{{url_for('static', filename = 'assets/js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/accordions.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/datepicker.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/js/imgfix.min.js')}}"></script> 
    <script src="{{url_for('static', filename = 'assets/js/slick.js')}}"></script> 
    <script src="{{url_for('static', filename = 'assets/js/lightbox.js')}}"></script> 
    <script src="{{url_for('static', filename = 'assets/js/isotope.js')}}"></script> 
    <!-- Global Init -->
    <script src="{{url_for('static', filename = 'assets/js/custom.js')}}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>